---
---


@import "{{ site.theme }}";

body {
  background-color: #ffffff;
}

a{
  color:#F82B60;
  text-decoration:none
}
a:hover,a:focus{color:#8a8a8a;font-weight:bold}

.gh{color:#000000}
.bp{color:#000000}

h1,h2,h3,h4,h5,h6{color:#02a4e0;margin:0 0 20px}


.navbar {
  overflow: hidden;
  background-color: #19C0FF;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
}

.navbar a:hover:not(.active) {
    color: #c7c7c7;
}
      
.active {
  background-color:#19C0FF;
  color: white;
  font-weight: bold;
  font-size: large;
}
