---
---


@import "{{ site.theme }}";

body {
  background-color: #faf1c3;
}

a{
  color:#F96167;
  text-decoration:none
}

.gh{color:#000000}
.bp{color:#000000}
.highlight{background-color:#424242}

h1,h2,h3,h4,h5,h6{color:#424242;margin:0 0 20px}
