---
---


@import "{{ site.theme }}";

body {
  background-color: #ffffff;
}

a{
  color:#F82B60;
  text-decoration:none
}
a:hover,a:focus{color:#8a8a8a;font-weight:bold}

.gh{color:#000000}
.bp{color:#000000}

h1,h2,h3,h4,h5,h6{color:#02a4e0;margin:0 0 20px}


img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 350px;
}
